body{
    font-family: "ABeeZee", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(160, 227, 227);
}

.principal{
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
}
.formulario{
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-bottom: 40px;
}
#date{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(199, 222, 222);
}
#date:focus{
    outline: none;
    
}
#pesquisar,.translate-btn{
    border: none;
    border-radius:5px;
    padding: 10px;
    background-color: rgb(188, 226, 226);

}
#pesquisar:hover{
    background-color: rgb(174, 219, 219);
}
.resultado{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.resultado img{border-radius: 20px;}